@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Secular+One&display=swap');


/*  Navigation bar   */

.container {
    background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,0,255,1) 100%);
    height: 120px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    color: black;
    background-color: beige;
    
}

#logo {
    float: left;
    margin-left: 20px;
    padding-top: 20px;
    color: black;
    font-size: 450%;
    font-family:'Bebas Neue', cursive;
}

#menu {
    font-size: 125%;
    letter-spacing: 4px;
    color: black;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/*  Hero Image   */

.hero-image {
    background: url(../images/george-9fsuPfQvhX4-unsplash.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    max-height: 650px;
    height: 650px;
    width: auto;
}

img {
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2rem;
    height: 600px;
}

/*  About Romania    */

h1 {
    text-align: center;
    padding-top: 1%;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1%;
    padding: 40px 0 40px 0;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1%;
    padding: 40px 0 40px 0;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 0 20% 0 20%;
    margin-top: 0%;
}

.presentation-video {
    max-width: 100%;
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1300px;
    
}

/*  Image Grid  */

.photos {
    padding-top: 50px;
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 1px;
    display: block;
    margin-top: 0;
}

.photos > img {
    width: 100%;
    max-height: 350px;
    padding: 0;
}


/*  Footer  */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
    margin-top: 20px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin-top: 0;
    padding: 3%;
    color: black;
}

/*  Places to Visit  */

.top-places {

    max-width: 100%;
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1300px;
}

/*  Schedule a Tour */

.tour-section {
    background: url(../images/paul-mocan-vYi0kzbK4sU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.schedule-tour {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(160, 160, 160, 0.3);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.schedule-tour > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 30px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.schedule-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #00000059;
    color: #fafafa;
    display: block;
}

/*  Media Query */

@media screen and (max-width: 1000px) {

    #logo {
        font-size: 300%;
    }

    .photos {
        padding-top: 50px;
        clear: both;
        line-height: 0;
        column-count: 1;
        column-gap: 1px;
        display: block;
        margin-top: 0;
    }

    #menu {
        font-size: 80%;
        letter-spacing: 3px;
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 25px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 700px) {

    #logo {
        font-size: 200%;
        padding-top: 0;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 10px;
        font-size: 80%;
     }

}

@media screen and (max-width: 450px) {

    #logo {
        font-size: 150%;
    }

    #menu {
        font-size: 55%;
        margin-left: 5px;
        line-height: 0px;
     }

}
