@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

/* Navigation bar */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: solitreo, sans-serif;
    font-weight: 300;
    color: black;
 
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    padding-top: 20px;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Hero Image */

#hero-image {
    background: url('../images/Palatul-Parlamentului.jpg') no-repeat center 30%;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;

}

/* About Romania */

.flag {
    background: url('../images/romania-flag.png') no-repeat center center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

#about {
    text-align: center;
    padding-top: 1%;
    font-size: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}